@import url("https://fonts.googleapis.com/css2?family=Anton&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Gloria+Hallelujah&family=Grape+Nuts&family=Montserrat:ital,wght@0,100;0,300;1,200&family=Pacifico&family=Poppins:wght@100;300;500;700&family=Russo+One&family=Smooch&display=swap");

:root {
  --base-font: Verdana, "sans-serif";
  --base-font-color: #ffff;
  --base-font-size: 18px;
  --base-line-hight: 1.5em;
  --button-blue-bg-color: ;
  --button-blue-bg-color: orange;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: #0d0d0d;
  background-position: center;
  background-size: cover;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: var(--base-font-color);
  font-family: var(--base-font);
  font-size: var(--base-font-size);
}

.topnav {
  overflow: hidden;
}

.nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: white;
  color: black;
}

.nav a.active {
  background-color:white;
  color: white;
}

.nav .icon {
  display: none;
}


.circle1 {
  height: 250px;
  width: 250px;
  background: linear-gradient(45deg, black, orange);
  border-radius: 50%;
  z-index: -3;
  position: absolute;
  left: 100px;
  bottom: 100px;
  transform: translatex(0px);
}

.circle2 {
  height: 200px;
  width: 200px;
  background: linear-gradient(45deg, black, orange);
  border-radius: 50%;
  z-index: -3;
  position: absolute;
  right: 150px;
  top: 100px;
  transform: translatex(0px);
}

.logo {
  font-family: "Smooch", cursive;
  font-size: 1.5rem;
}

span {
  color: orange;
}

h3,
p {
  margin: 0.5rem 0;
}
.price {
  margin-left: -5rem;
  margin-top: 1rem;
}

button {
  margin: 0.1rem 0;
  padding: 10px 15px;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: rgb(9, 9, 22);
}

.button-blue {
  background: var(--button-blue-bg-color);
  border-radius: 10px;
}

.button-transparent {
  background: transparent;
  border: 1px solid white;
}
.container {
  height: 90vh;
  width: 60rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 13px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.container header {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: space-between;
  gap: 50px;
  z-index: 3;
}

.upper-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 25px;
  z-index: 5;
}

.upper-boxes .left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 14rem;
  width: 28rem;
  background: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 13px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
  z-index: 5;
  position: relative;
}

.upper-boxes .right {
  display: flex;
  flex-direction: column;
  height: 13rem;
  width: 18rem;
  gap: 18px;
  z-index: 5;
}

.upper-boxes .right .smallbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36pxrem;
  padding: 0.2rem;
  border-radius: 13px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  z-index: 5;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

.developer-boxes {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.developer-boxes .box {
  height: 10rem;
  width: 10rem;
  border: 1px solid rgba(255, 255, 255, 0.02);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 13px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

.developer-boxes .box {
  text-align: center;
}

.img1 {
  height: 11rem;
  width: 11rem;
}

.img2 {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.img3 {
  margin-top: -2rem;
  height: 4rem;
  width: 4rem;
}

.button3 {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
  border: none;
}

.button4 {
  padding: 1rem;
  background: transparent;
  border: 1px solid white;
  transform: translate(-45px, -25px);
}

@media screen and (max-width: 600px) {
  body,
  .container,
  header,
  .upper-boxes,
  .upper-boxes .left,
  .upper-boxes .right,
  .upper-boxes .right .smallbox,
  .developer-boxes,
  .developer-boxes .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    height: auto;
    gap: 50px;
    margin-top: 1rem;
    padding-top: 1rem;
  }

 .circle1,
  .circle2 {
    display: none;
  }

  .button4 {
    transform: translateX(0);
  }


  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: left;
    display: block;
  }


  .nav.responsive .icon {
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .nav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}